

.image-compressor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .image-preview {
    flex: 1;
    width: calc(50% - 20px); 
    margin: 10px;
    padding: 10px;
    border: 1px solid #650505;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .original-image,
  img {
    max-width: 100%;
    height: auto;
  }
  
  
  